# ------- окружения и IDE -------
venv/
.idea/
__pycache__/
.venv/
.vscode/

# ------- секреты -------
*.env
!.env.example

config.js
!config.example.js

# -------- личные данные -------
Backend/data/playlist.json
!Backend/data/playlist.example.json